body {
	font-size: 18px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th {
  height: 50px;
}

li {
	margin: 10px 0px 10px 0px;
}

.right-align {
	text-align: left;
}