body {
	font-size: 18px;
	background-color: snow;
}

a {
	text-decoration: none;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th {
	text-align: left;
	height: 50px;
}

td {
	padding: 10px 10px 10px 10px;
	font-size: 16px;
}