{% extends 'base.html' %}
{% block heading %}<h1>GitHub API Wrapper - Documentation</h1>{% endblock heading %}{% block content %}
  <table border="1">
    <tr>
      <th>METHOD</th>
      <th>ENDPOINT</th>
      <th>RESPONSE</th>
    </tr>
    <tr>
      <td>GET</td>
      <td><code>/api/repos/filter/&lt;string:filter&gt;</code></td>
      <td>
        A list of filtered repositories:<br/>
        <code>
        <pre>
        {
          "response": {
            "repositories": [
              {
                "commits_count": ,
                "contributors_count": ,
                "full_name": ,
                "html_url": ,
                "language": ,
                "open_pull_requests_count": ,
                "stargazers_count":
              },
              {
                ...
              },
              ...
            ]
          }
        }
      </pre>
      </code>
      </td>
    </tr>
    <tr>
      <td>GET</td>
      <td><code>/api/repos/&lt;path:lang&gt;</code></td>
      <td>
        A list of repositories with <code>lang</code> as the primary language on success, otherwise a message stating the reason for failure:<br/><br/>
        On success:<br/>
        <code>
        <pre>
        {
          "response": {
            "popular_repositories": [
              {
                "full_name": ,
                "html_url": ,
                "language": ,
                "stargazers_count":
              },
              {
                ...
              },
              ...
            ]
          }
        }
      </pre>
      </code>
      On failure:<br/>
      <code>
      <pre>
        {
          "response": {
            "message":
          }
        }
      </pre>
      </code>
      </td>
    </tr>
    <tr>
      <td>GET</td>
      <td><code>/api/repos/&lt;path:repo_html_url&gt;/top-contribs</code></td>
      <td>
        A list of top 5 contributors to the GitHub repository given by the <code>repo_html_url</code> on success, otherwise a message stating the reason for failure:<br/><br/>
        On success:<br/>
        <code>
        <pre>
        {
          "response": {
            "full_name": ,
            "top_contributors": [
              {
                "avatar_url": ,
                "contributions": ,
                "html_url": ,
                "login":
              },
              {
                ...
              },
              ...
          ]
        }
      </pre>
      </code>
      On failure:<br/>
      <code>
      <pre>
        {
          "response": {
            "message":
          }
        }
      </pre>
      </code>
      </td>
    </tr>
  </table>{% endblock content %}
