<!DOCTYPE html>
<html lang="en-IN">
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='gh-api-wrapper-icon.png') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">{% block head_script %}{% endblock head_script %}
  <title>GitHub API Wrapper{% if title %}{{ title }}{% endif %}</title>
</head>
<body>
  {% block heading %}{% endblock heading %}
  <a href="{{ url_for('index') }}">Home</a>&nbsp;<a href="{{ url_for('api_index') }}">API Documentation</a><br/><br/>{% block content %}{% endblock content %}{% block script %}{% endblock script %}
</body>
</html>