{% extends 'base.html' %}
{% block head_script %}<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>{% endblock head_script %}
{% block heading %}<h1>GitHub API Wrapper</h1>{% endblock heading %}
{% block content %}
  <b>Number of requests remaining to GitHub's API: {{ requests_remaining }}</b><br/><br/>
  Popular repos by filter:
  <select id="filter">
    <option value="prs" selected="true">Open Pull Requests</option>
    <option value="commits">Number of commits</option>
    <option value="contribs">Number of contributors</option>
  </select>
  <button id="filter-repos">Popular repos by filter</button>
  <br/><br/>
  Popular repos by lang: <input type="text" id="lang" placeholder="language..." required="true">
  <button id="popular-repos">Get Repos</button>
  <br/><br/>
  Top 5 repo contribs: <input type="url" id="repo-url" placeholder="https://github.com/" required="true">
  <button id="top-contribs">Get Contribs</button>
  <br/><br/>
  <div>
    <p id="message"></p>
    <ol type="1" id="result"></ol>
  </div>{% endblock content %}
{% block script %}
  <script type="text/javascript">
    document.querySelector('#filter-repos').addEventListener('click', get_filtered_repos);
    document.querySelector('#popular-repos').addEventListener('click', get_popular_repos);
    document.querySelector('#top-contribs').addEventListener('click', get_top_contribs);
  </script>{% endblock script %}